$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;

// RELATIVE UNIT
$fullscreen: 100vw;
$tablet-margin: 12.5vw;
$mobile-margin: 10vw;
$half-mobile: 5vw;
$tablet-padding: 3.125vw;
$top-bottom: 7.5vw;
$desktop-margin: 3.33vw;
$desktop-padding: 1.66vw;
$threeeight: 3.88vw;